
<div class="container">
  <h2>Dashboard for my geeks</h2>
  <!-- if the user is a geek and a client it shows both, if the geek is just a geek it show my jobs, and if a geek is a customer it shows my bookings -->
  <!-- add reviews -->
  <div class="flex">
    <div class="row">
      <div class="col-8">
        <h3>My Jobs</h3>
          <% @jobs.each do |job| %>
            <ul>
              <li><%= job.user.first_name + ' ' + job.user.last_name %></li>
            </ul>
          <% end %>
      </div>
      <div class="col-8">
        <h3>My bookings</h3>
        <ol>
          <% @bookings.each do |booking| %>
            <ul>
              <li><%= "#{booking.geek.name}: #{booking.date.strftime("%Y-%m-%d %H:%M")} #{booking.address}" %>
                <% if Date.current < booking.date %>
                <span><%= link_to "Delete booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %></span>
                <% end  %>
              </li>
                <% if !booking.rating  %>
                <span><%= link_to "Add review", add_review_path(booking.id) %></span>
                <% end  %>
              </li>
            </ul>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
  <%= link_to "Be a Geek", new_geek_path %>
</div>
