
<div class="container mt-5 p-5 shadow">
  <h2>Dashboard</h2>
  <!-- if the user is a geek and a client it shows both, if the geek is just a geek it show my jobs, and if a geek is a customer it shows my bookings -->
  <!-- add reviews -->
  <div class="my-5 p-3 ">
      <div class="col-8 mb-3">
        <h3>My Jobs</h3>
        <% if @jobs.present? %>
        <% @jobs.each do |job| %>
        <ul>
          <li><%= job.user.first_name + ' ' + job.user.last_name %></li>
        </ul>
        <% end %>
        <% elsif current_user.geeks.empty? %>
          <h5>(Bring out your inner Geek!)</h5>
          <h6><%= link_to "Become a Geek 🤓", new_geek_path %></h6>
        <% else %>
          (You don't have any jobs at the moment)
        <% end %>
      </div>
      <div class="col-8 border-top pt-5">
        <h3>My Bookings</h3>
        <% if @bookings.present? %>
        <ol>
          <% @bookings.each do |booking| %>
            <ul>
              <li><%= "#{booking.geek.name}: #{booking.date.strftime("%Y-%m-%d %H:%M")} #{booking.address}" %>
                <% if Date.current < booking.date %>
                <span><%= link_to "Delete booking", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } %></span>
                <% end  %>
              </li>
                <% if !booking.rating  %>
                <span><%= link_to "Add review", add_review_path(booking.id) %></span>
                <% end  %>
              </li>
            </ul>
          <% end %>
        </ol>
        <% else %>
        <h5>(You don't have any bookings at the moment)</h5>
        <% end %>
      </div>
  </div>
<h3><%= link_to "Be a Geek 🤓", new_geek_path %></h3>
</div>
