<div class="d-flex">
  <div class="container">
    <div class="row mt-4">
      <% @geeks.each do |geek| %>
      <div class="col-md-4">
      <%= link_to geek_path(geek), class: "card-link" do  %>
        <div class="card-trip">
          <% if geek.photo.url %>
          <%= cl_image_tag geek.photo, height: 300, crop: :fill %>
          <% else %>
          <%= image_tag 'https://www.anitian.com/wp-content/uploads/2016/11/silicon-valley-gilfoyle.jpg', class: "thumb-index"%>
          <% end %>
          <div class="card-trip-infos">

            <h2> <%= geek.name %> </h2>


            <h2 class="card-trip-pricing">$<%= geek.price %></h2>
          </div>
        </div>
      <% end %>
      </div>
      <% end %>
    </div>

  </div>


  <div
  id="map"
  style="height: 90vh; width: 500px"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

</div>

</div>

