<div class="container-fluid">   
  <div class="row p-3"> 

    <div class="row col-9">     
      <% @geeks.each do |geek| %>
      <div class="col">
        <div class="card-trip">
        <% if geek.photo.nil? %>
          <%= cl_image_tag geek.photo, height: 300, crop: :fill %>
        <% else %>
         <img src="https://www.anitian.com/wp-content/uploads/2016/11/silicon-valley-gilfoyle.jpg" alt="gilfoy" style="width: 300px">
        <% end %>
          <div class="card-trip-infos">
            <div>
              <h2> <%= link_to geek.name, geek_path(geek) %> </h2>
              <p><%= geek.description %></p>
            </div>
            <h2 class="card-trip-pricing">$<%= geek.price %></h2>
          </div>
        </div>
      </div>
      <% end %>
  </div>
    <div class="col-3">
      <div
  id="map"
  style="height: 90vh;"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
    </div>
</div>   