<div class="container-fluid">   
  <div class="row p-3"> 

  <div class="row col-9 justify-content-center">     
      <div id="geek_image">
        <% if @geek.photo.url %>
          <%= cl_image_tag @geek.photo, height: 300, crop: :fill, class: "rounded-circle" %>
        <% else %>
          <%= image_tag 'https://www.anitian.com/wp-content/uploads/2016/11/silicon-valley-gilfoyle.jpg', class: "rounded-circle thumb-show"%>
        <% end %>
        <h3 class=""> <%= @geek.name %> </h3>
      </div>
      <div id="geek_info" class="row">
        <div class=col-9>Category</div>
        <div class=col-3><%= @geek.category %></div>
        <div class=col-12><h4>Description</h4></div>
        <div class=col-12><p> <%= @geek.description %> </p></div>
        <div class=col-9>Rating</div>
        <div class=col-3>TO DO</div>
      </div>
  </div>

  <div class="col-3">
     <div
  id="map"
  style="height: 80vh;"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
  <button type="button" class="btn btn-danger btn-block">Book now</button>
  </div>

  </div>
</div>  
