<div class="container-fluid">
  <div class="row p-3">

    <div class="row col-9 justify-content-center">
      <div id="geek_image">
        <% if @geek.photo.url %>
        <%= cl_image_tag @geek.photo, height: 300, crop: :fill, class: "rounded-circle" %>
        <% else %>
        <%= image_tag 'https://www.anitian.com/wp-content/uploads/2016/11/silicon-valley-gilfoyle.jpg', class: "rounded-circle thumb-show"%>
        <% end %>
        <h3 class=""> <%= @geek.name %> </h3>
        <% if @geek.user == current_user %>
          <%= link_to "✎", edit_geek_path %>
          <%= button_to "🗑",  geek_path(@geek), method: 'delete', data: { confirm: "Do you want to delete this geek ?"} %>
        <% end %>
      </div>
      <div id="geek_info" class="row">
        <div class=col-9>Category</div>
        <div class=col-3><%= @geek.category %></div>
        <div class=col-12><h4>Description</h4></div>
        <div class=col-12><p> <%= @geek.description %> </p></div>
        <div class=col-9>Rating</div>
        <div class=col-3>TO DO</div>
      </div>

      <div class="list-group">
        <% @reviews.each do |review| %>
          <li class="list-group-item">
            <small>
              <% count = 0 %>
              <% 5.times do %>
                <% if review.rating > count %>
                  <i class="fas fa-star"></i>
                <% else %>
                  <i class="far fa-star"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>
            <p><%= review.review_content %></p>
          </li>
        <% end %>
      </div>

    </div>

    <div class="col-3">
      <div
      id="map"
      style="height: 80vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
    <div id="geek_reviews" class="col-9 p-3"></div>
    <div class="col-12" id="booking_form">
      <%= simple_form_for [@geek, @booking], wrapper: :inline_form, html: { class: 'form-inline form-row' }  do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.input :date, input_html: { class: 'datepicker mr-4' }, placeholder: 'Choose date' %>
      <%= f.input :address, placeholder: 'Your address', input_html: { class: 'mr-4', style: 'width: 25vw' } %>
      <%= f.input :duration, input_html: { min: '0', max: '8', step: '1', class: 'mr-4', style: 'width: 15vw'}, placeholder: 'How many hours?' %>
      <%= f.button :submit, "Book-A-Geek!", class: "btn btn-primary col" %>
      <% end %>
    </div>
  </div>


</div>
</div>
