<div class="container-fluid">
  <div class="row p-3">

    <div class="row col-9 justify-content-center">
      <div id="geek_image">
        <% if @geek.photo.url %>
          <%= cl_image_tag @geek.photo, height: 300, crop: :fill, class: "rounded-circle" %>
        <% else %>
          <%= image_tag 'https://www.anitian.com/wp-content/uploads/2016/11/silicon-valley-gilfoyle.jpg', class: "rounded-circle thumb-show"%>
        <% end %>
        <h3 class=""> <%= @geek.name %> </h3>
      </div>
      <div id="geek_info" class="row">
        <div class=col-9>Category</div>
        <div class=col-3><%= @geek.category %></div>
        <div class=col-12><h4>Description</h4></div>
        <div class=col-12><p> <%= @geek.description %> </p></div>
        <div class=col-9>Rating</div>
        <div class=col-3>TO DO</div>
      </div>
    </div>

    <div class="col-3">
      <div
       id="map"
       style="height: 80vh;"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
       ></div>
    </div>
    <div id="geek_reviews" class="col-9 p-3"></div>
    <div class="col-3" id="booking_form">
      <%= simple_form_for [@geek, @booking] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.input :date, input_html: { class: 'datepicker' } %>
      <%= f.input :time, as: :time %>
      <%= f.input :address, hint: 'Where do you want us to send you the geek?' %>
      <%= f.input :duration, input_html: { min: '0', max: '8', step: '1' }, hint: 'For how long do you want to rent a geek? (In hours)' %>
      <%= f.button :submit, "Book-A-Geek!", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>


  </div>
</div>
